<!DOCTYPE html>
    
<html>
<head>
    <title>New Mongoose</title>
</head>

<body>
    <h1>Create New Mongoose</h1>
    <form method="post" action="/mongooses">
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="number" name="age"</p>
        <input type="submit" value="Add Mongoose!">
    </form>
    <button><a href="/">Cancel</a></button>
</body>
</html>